// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,600;1,600&family=Roboto:wght@400;700&display=swap');

// Colors
$backgroundColor: #0e131f;
$primaryColor: #192338;
$alternativeColor: #028090;
$textColor: #ecfff8;
$titleColor: #00bfb2;
$shadowColor: #587b7f;

// Fonts
%titleFont {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%textFont {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    @media all and (max-width:800px) {
        font-size: 0.9em;
    }

    @media all and (max-width:600px) {
        font-size: 0.8em;
    }
}

%boldFont {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

%servicesTitleFont {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;

    @media all and (max-width:800px) {
        font-size: 1em;
    }
}

%servicesTextFont {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;

    @media all and (max-width:800px) {
        font-size: 1em;
    }
}